body {
    @apply bg-container;
}

#cart-drawer {
    @apply text-black;
}

[x-cloak] {
    display: none !important;
}

.card {
    @apply p-4 rounded-sm bg-container-lighter shadow;
}

.card-interactive {
    &:hover {
        @apply bg-container;
    }
}
